@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html{-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,
var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {margin: 0;padding: 0;border: 0;outline: 0;}
header,footer,article,section,hgroup,nav,figure {	display: block;	margin: 0px;	padding: 0px;}
img{border: 0 none;	height: auto;	max-width: 100%;	vertical-align: middle;	transition: all 0.5s ease-in-out 0s;}

body {
	margin: 0;
	padding: 0;
	font-size: 23px;
	line-height: normal;
	color: #333333;
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}

ul li {
	list-style: none;
}


header{width:100%; float: left; padding:15px 0; position: absolute; top:0; z-index: 9;}
header .logo{float:left;}
header .navbar{padding:0;}
.navbar-brand{float: left;}
.navbar-collapse{justify-content:flex-end;}
.navbar-light .navbar-nav .nav-link{text-transform: uppercase; letter-spacing: 1.6px; font-size:16px; color:#fff; margin:0 4px;}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link{color:#e043ac;}
header.dark{background: #000; position: static;}

.banner{width:100%; float:left; position: relative;}
.banner .banner_text{position: absolute; top: 45%; text-align: center; width:100%;}
.banner h1{color:#fff; text-transform: uppercase; font-weight: bold; letter-spacing: 3px; margin-bottom: 15px; font-size: 55px;}
.search_box input {
    height: 50px;
    border: none;
    padding: 0 5px 0 3px;
    width: calc(100% - 40px);
    float: left;
    letter-spacing:1.5px;
    font-size: 20px;
}
.search_box .search_icon {
    height: 50px;
    background: #fff;
    box-shadow: none;
    border: none;
    width: 40px;
    float: left;
    padding: 0 8px 0 0;
    color:#717171;
	text-align: right;
}
.search_box {
    width : 430px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    font-size: 18px;
}

.services{width:100%; float:left; padding: 50px 0}
.services img{width:100%;}
.service_cell h3 {
    width: 100%;
    background: #e043ac;    
    text-transform: uppercase;
    font-size:22px;
    text-align: center;
    font-weight: bold;
    padding: 15px 0;
    letter-spacing: 2.3px;
}

.full_width{width:100%; float:left;}


.product_sec {height: 100vh;}
.product_sec > .container, .product_sec > .container > .row, .product_sec > .container-fluid, .product_sec > .container-fluid > .row{height:100%;}

.product_left{padding-top: 50px; padding-bottom: 50px;}
.product_sec .product_left h3{color:#e043ac; text-transform: uppercase; font-size:30px; font-weight: bold; margin-bottom: 25px; letter-spacing: 3px;}
.product_sec .product_left ul li a{color:#333333; text-transform: uppercase; font-weight: bold; font-size:23px; letter-spacing: 2.3px; margin-bottom:18px; display: block;}
.product_right{padding:50px;}
.product_sec .border_right{border-left:1px solid #c5c5c5;}
.product_right .search_box{float: right; margin-bottom: 10px; border-color: #333;}

.product_right .product_cell{margin-top: 30px;}
.product_right .product_cell h4{color:#333333; text-transform: uppercase; font-weight: bold; text-align: center; letter-spacing: 2.3px; font-size: 23px; margin: 15px 0;}
.product_right .product_cell img{width:100%;}

.product_menu{background: #f5f5f5; text-align: center; padding:15px 0;}
.product_menu ul li {
    display: inline-block;
    margin: 0 16px;
}
.product_menu ul li a{color:#333; font-size:23px;}
.product_listing .search_box{margin-bottom: 30px;}
.product_menu ul li.active a, .product_menu ul li a:hover{color:#e043ac; text-decoration: none;}
.product_listing{padding: 50px 0;}
.product_listing .product_cell{width:20%; float: left; padding: 0 15px;}
.product_list{text-align: center; margin-bottom: 30px;}
.product_list h5 {
    font-size: 23px;
    font-weight: bold;
    line-height: 34px;
    margin-top: 15px;
    letter-spacing: 2.3px;
}

.product_srch .search_box{width:100%; margin-bottom: 25px;}
.product_srch .product_left{padding:40px 0;}
.product_sec.product_srch .product_left ul li a{margin:0; padding:10px 10px 10px 50px;}
.product_sec.product_srch .product_left ul li.active a{background:#e043ac; color:#fff; padding:15px 10px 15px 50px;}


.account_info p {
    font-weight: 400;
    letter-spacing: 2.3px;
    margin-bottom: 30px;
    font-size: 23px;
    line-height: 34px;
}
.account_info p a{color:#e043ac;}

.product_bread{background: #f5f5f5; padding: 15px 0;}
.product_bread .menu{float: left; margin-top:8px;}
.product_bread .menu li{float: left;}
.product_bread .menu a{font-weight: 400; letter-spacing:2px; color:#333; font-size: 20px;}
.product_bread .menu li a:after{content: "|"; margin: 0 5px;}
.product_bread .menu li:last-child a:after{content: "";}
.product_bread .search_box{float: right;}

.product_detail{width:100%; float: left; padding: 50px 0;}
.product_detail .product_img{text-align: center;}
.product_detail .product_text h2 {
    font-size: 60px;
    line-height: 70px;
    margin:30px 0;
    font-weight: 700;
    letter-spacing: 6px;
}
.product_detail .product_text p{font-weight: 400; line-height: 34px; letter-spacing: 2.3px; margin-bottom: 20px;}
.product_qty{width:100%; float:left; margin-top: 20px;}
.product_qty input{width: 90px;
height: 70px;
text-align: center;
border: 2px solid #C5C5C5;
border-radius: 5px;
font-size: 23px;
font-weight: 700;
margin-right: 10px;}

.cutm_btn{
    background: none;
    border: 2px solid #e043ac;
    color: #e043ac;
    height: 70px;
    width: 270px;
    border-radius: 5px;
    padding: 1px 25px 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.3px; transition: 0.5s}

.cutm_btn:hover{background: #e043ac; color:#fff;}    

.product_speci{width:100%; float:left; padding: 50px 0 35px;}
.product_speci h4, .related_product h4{font-weight: 700; font-size:35px; letter-spacing: 3.5px; margin-bottom: 40px;}
.product_speci .row{font-weight: 400;}

.related_product{width:100%; float:left; padding:20px 0 80px;}
.service_cell{margin-bottom: 30px;}
.product_speci p{margin-bottom: 15px;}



.req_form{
    padding: 50px 0;
}

#msform {
    text-align: center;
    position: relative;
}

.req_form .card h2{text-align: center;
font-weight: bold;
font-size: 60px;
letter-spacing:6px;}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform .action-button, #msform .action-button-previous {
    max-width: 270px;
    cursor: pointer;
    margin: 15px 5px;
    float: right;
    background: none;
    border: 2px solid #e043ac;
    color: #e043ac;
    height: 70px;
    border-radius: 5px;
    padding: 1px 25px 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing:2.3px;
    transition: 0.5s;
}


.card {
    z-index: 0;
    border: none;
    position: relative
}

.fs-title {
    font-size: 35px;
    color: #333333;
    margin-bottom: 30px;
    font-weight: bold;
    text-align: left;
    letter-spacing: 3.5px;
}

#msform .action-button:hover, #msform .action-button-previous:hover{background:#e043ac; color:#fff;}

#progressbar {
    margin:50px 0 80px;
    overflow: hidden;
}

#progressbar .active {
    color:#e043ac;
}

#progressbar li {
    list-style-type: none;
    font-size: 23px;
    width: 33.33%;
    float: left;
    position: relative;
    color:#717171;
    letter-spacing:2.3px;
}

#progressbar #account:before {
    content: "1"
}

#progressbar #personal:before {
    content: "2"
}

#progressbar #confirm:before {
    content: "3"
}

#progressbar li:before {
    width: 75px;
    height: 75px;
    line-height: 70px;
    display: block;
    font-size: 30px;
    color: #717171;
    background: #fff;
    border:2px solid #717171;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: "";
    width: 100%;
    height: 2px;
    background: #717171;
    position: absolute;
    left: 0;
    top:40px;
    z-index: -1
}

#progressbar li.active:before{
    border-color:#e043ac;
    color:#e043ac;
}

#progressbar li.active:after {
    background:#e043ac;
}

#msform input,
#msform textarea {
    background: #f5f5f5; border: none; height:50px; width:100%; margin-bottom:35px; padding: 0 10px;
}

#msform textarea {height:250px;}

#msform label {
    text-align: left;
    width: 100%;
    font-weight: 400;
    font-size: 23px;
    margin-bottom: 15px;
    letter-spacing: 2.3px;
}

#msform label span{color:#e043ac;}


.q_sumry{width:100%; float:left; margin:10px 0 40px;}
.q_sumry h6{letter-spacing: 2.3px; font-size:23px; font-weight: bold; margin-bottom: 15px;}
.q_sumry p{letter-spacing: 2.3px; font-size:23px; font-weight: 400; line-height: 34px; margin-bottom: 10px;}
.q_sumry p a{color:#333;}
.hr{width: 100%;
float: left;
background: #C5C5C5;
height: 2px;
margin: 40px 0;}
.q_sumry h4{letter-spacing: 3.5px; font-size: 35px; margin-bottom: 45px;
font-weight: bold;}



@media (min-width:1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl{max-width:1260px;}
}
@media (max-width:1299px){
    .product_menu ul li{margin:0 10px;}
}
@media (max-width:1200px){
    body{font-size: 20px;}
    .container{max-width:100%;}
    .product_right{padding:50px 15px;}
    .product_menu ul li{margin:0 10px;}
    .product_sec.product_srch .product_left ul li a, .product_sec.product_srch .product_left ul li.active a{padding:10px 10px 10px 15px; font-size:20px;}
    .product_detail .product_text h2{font-size:40px; line-height:55px;}
    .navbar-light .navbar-nav .nav-link{letter-spacing: 1px;}
    .banner h1{font-size: 52px;}
    .service_cell h3{font-size: 20px;}
    .product_menu ul li a{font-size: 18px;}
    .product_list h5{font-size:20px; line-height:26px;}
    .product_sec .product_left ul li a{font-size:20px;}
    .product_sec .product_left h3{font-size:26px;}
    .product_right .product_cell h4{font-size:20px;}
    .account_info p{font-size: 20px; line-height:30px;}
    .product_bread .menu a{font-size:18px;}
    .product_bread .search_box{width:320px;}
    .product_speci h4, .related_product h4{font-size:30px; margin-bottom: 30px;}
    .product_qty input{width:70px; height:60px; font-size: 20px;}
    .cutm_btn, #msform .action-button, #msform .action-button-previous{height:60px; width:230px; letter-spacing:1.3px;}
    .req_form .card h2{font-size: 50px; letter-spacing: 3px;}
    .req_form .col-md-8{-ms-flex: 0 0 90%; flex: 0 0 90%; max-width: 90%;}
    #progressbar li::before{width: 55px; height: 55px; line-height: 50px; font-size: 22px;}
    #progressbar li{font-size: 20px;}
    #progressbar li::after{top:28px;}
    .fs-title{font-size:30px;}
    #msform label{font-size:20px;}
    .q_sumry h6{font-size: 20px; margin-bottom:10px;}
    .q_sumry p{font-size: 20px;}
    .q_sumry h4{font-size: 30px; margin-bottom: 35px;}
}

@media (max-width:991px){
    body{font-size: 16px;}
    header{background: #000; position: static; padding:5px 0;}
    .navbar-light .navbar-nav .nav-link{margin: 0; border-top: 1px solid rgba(255,255,255,0.2); padding:12px 10px; font-size:14px;}
    header .container{padding: 0;}
    .navbar-brand{margin-left: 15px; width:130px;}
    .navbar-light .navbar-toggler .navbar-toggler-icon{background: url('../images/ico-hamburger.png'); background-repeat: no-repeat; background-position: center;}
    .banner h1{font-size:36px;}
    .banner .banner_text{top:50%; transform:translate(0, -50%);}
    .service_cell h3{letter-spacing:1px; font-size:16px; padding:12px 0;}
    .services{padding:30px 0;}
    .product_menu ul li{margin:0 5px;}
    .product_menu ul li a{font-size:14px;}
    .product_list h5{line-height:20px; font-size:16px;}
    .product_bread .search_box{clear:both; float:left; margin-top:10px;}
    .product_detail .product_text h2 {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 20px;
    }
    .product_qty{margin-top:10px;}
    .search_box{width: 320px;}
    .search_box input, .search_box .search_icon{font-size:16px; height:40px;}
    .product_sec.product_srch .product_left ul li a, .product_sec.product_srch .product_left ul li.active a{font-size: 16px;}
    .product_sec .product_left ul li a{font-size:16px; margin-bottom: 12px;}
    .product_sec .product_left h3{font-size:22px; letter-spacing: 1px;}
    .product_right .product_cell h4{font-size:16px;}
    .account_info p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    }
    .product_detail .product_text p{line-height: 26px;}
    .product_speci h4, .related_product h4{font-size:28px; letter-spacing:2.5px; margin-bottom: 20px;}
    .product_bread .menu{margin-top:0;}
    .product_bread .menu a{font-size:16px; letter-spacing:1px;}
    .req_form .card h2{font-size:40px;}
    #progressbar li {font-size: 16px;}
    .fs-title{font-size: 22px; letter-spacing: 2px;}
    #msform label{font-size: 16px; margin-bottom: 10px;}
    #progressbar{margin:30px 0 50px;}
    .q_sumry h6{font-size: 16px; margin-bottom:10px;}
    .q_sumry p{font-size: 16px; line-height: 26px;}
    .q_sumry h4{font-size: 22px; margin-bottom: 35px;}
    .hr{margin:30px 0 40px;}
}

@media (max-width:767px){
    .banner h1 {
    margin-bottom:8px;
    }
.search_box input, .search_box .search_icon{height:35px;}
.product_sec .border_right{border-top:1px solid #c5c5c5; border-left:none;}
.product_left {
    padding-top: 30px;
    padding-bottom: 10px;
}
.product_sec .product_left ul li a{margin-bottom:12px;}
.product_right {
    padding: 30px 0;
}
.product_sec{width:auto;}
.product_right .search_box{width:100%; margin-bottom:0;}
.product_right .product_cell h4{margin-bottom:0;}
.product_listing .product_cell{width:50%;}
.product_listing .search_box{margin-bottom:0; width:100%;}
.product_menu ul li{float: left; font-weight: 400; margin:0 0 3px;}
.product_menu ul li a{font-size:12px;}
.product_menu ul li:not(:last-child):after{content: "|"; font-size:12px; margin:0 5px;}
.product_menu{padding:12px 0;}
.product_listing{padding:30px 0;}
.product_bread .search_box{width:100%;}
.product_detail{padding: 30px 0;}
.product_detail .product_text h2{font-size: 32px; line-height: 38px; letter-spacing: 2px;}
.product_qty input{width: 55px; height:45px; margin-right: 5px;}
.cutm_btn{padding: 0px 18px 0; height:45px;}
.product_speci{padding: 20px 0 10px;}
.product_qty {
    margin-top: 10px;
}
.product_sec > .container, .product_sec > .container > .row, .product_sec > .container-fluid, .product_sec > .container-fluid > .row{height:auto;}
.product_srch .product_left {
    padding: 30px 0;
}
.product_srch .search_box{margin-bottom: 20px;}
.product_detail .product_text p{letter-spacing: 1px;}
.cutm_btn, .cutm_btn, #msform .action-button, #msform .action-button-previous{width:180px; font-size: 16px;}

.req_form .col-md-8 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.req_form .card h2 {
    font-size: 32px;
}
#progressbar li::before {
    width: 45px;
    height: 45px;
    line-height: 37px;
    font-size: 18px;
}
#progressbar li::after {
    top: 21px;
}
#msform input, #msform textarea{height: 40px; margin-bottom: 25px;}
#msform textarea{height:150px;}
.req_form{padding:35px 0;}
.q_sumry h6{margin-bottom:s5px;}
.q_sumry p{margin-bottom:20px;}
.hr{margin: 10px 0 35px;}
.q_sumry .mt-5{margin-top: 20px !important;}
.q_sumry h4{margin-bottom: 25px;}
.order_text p{margin-bottom: 10px;}
.q_sumry{margin:0 0 20px;}
}

@media (max-width:575px){
    .product_listing .product_cell{width:100%;}
    .product_detail .product_text h2 {
    font-size: 28px;
    line-height: 34px;
    }
    .product_speci h4, .related_product h4{margin-bottom:15px;}
     .banner h1 {
        font-size: 28px;
    }
    .search_box {
    width: 90%;
    }
    .req_form .card h2 {
    font-size: 30px;
}
#progressbar li{font-size: 15px;}
#msform .action-button, #msform .action-button-previous{padding: 0; width:135px;}
}


/*02-4-2021*/
body{font-family: 'Poppins', sans-serif;}
.arch_product_side #sidebar li a{font-family: 'Poppins', sans-serif;
color: #333333;
text-transform: uppercase;
font-weight: bold;
font-size: 20px;
letter-spacing: 1.3px;
margin-bottom: 26px;
display: block;}
.arch_product_side #sidebar li a:hover{text-decoration: underline;}
.arch_product_side #sidebar .widgettitle{color: #e043ac ; text-transform: uppercase; font-size: 25px; font-weight: bold; margin-bottom: 25px; letter-spacing: 3px;font-family: 'Poppins', sans-serif;padding-bottom: 0}
body.archive #left-area ul.products li h2.woocommerce-loop-product__title,
body.single-product.woocommerce ul.products li.product .woocommerce-loop-product__title,
body .products .product-category.product .woocommerce-loop-category__title {font-family: 'Poppins', sans-serif ;color: #333333; text-transform: none; font-weight: bold; text-align: center; letter-spacing: 2px; font-size: 15px !important;padding:3px 0 !important; background: none}
body.archive #left-area ul.products li h2.woocommerce-loop-product__title:hover,
body.single-product.woocommerce ul.products li.product .woocommerce-loop-product__title:hover,
body .products .product-category.product .woocommerce-loop-category__title:hover{color: #333333 !important;}
body.archive #left-area ul.products li h2.woocommerce-loop-product__title:before,
body.single-product.woocommerce ul.products li.product .woocommerce-loop-product__title:before,
.products .product-category.product .woocommerce-loop-category__title::before{display: none;}
body.archive #left-area ul.products{background: none}
body.tax-product_cat .imgbnr_sec{display: none;}
body.archive.tax-product_cat  #main-header,
body #main-header { background: black !important; position: relative !important;} 
body.home #main-header { background:none !important; position:absolute!important;}
body.archive #main-header { background:none !important; position:absolute!important;} 
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1{max-width: 100%}
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{max-width: 100%}
body #main-content .container{max-width: 1260px;padding-left: 15px;padding-right: 15px;}
body.archive #main-content .container{max-width: 100%;}
.single-product .banner_sec {display: none;}
.arch_product_side{float: left;width: 100%}
.single-product #left-area{margin-top: 50px;}
.woocommerce div.product div.images.woocommerce-product-gallery{border:none !important;}
.sm-cart-wrapper .sm-content p{width: 100%}
.sm-cart-wrapper .sm-content p a{width: 100%;margin-right: 0;}
.woocommerce div.product .product_title {
font-size: 25px;
line-height: 48px;
margin: 30px 0;
font-weight: 700;
letter-spacing: 2px;
color: #333333 !important;
font-family: 'Poppins', sans-serif !important;
}
.single_add_to_cart_button.button.alt {
    padding: 12px 30px !important;
    width: 221px;
    letter-spacing: 2.3px;
    font-size: 16px !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    border-radius: 5px !important;
}
.single_add_to_cart_button.button.alt:after{display: none;}
body.woocommerce button.button.alt:hover{color:#000 !important;}
.woocommerce-page div.product form.cart div.quantity .input-text.qty {
    width: 80px;
    height: 56px;
    font-size: 19px !important;
    border-radius: 5px;
}
html body.woocommerce #content-area div.product .woocommerce-tabs ul.tabs li a,html  body.woocommerce div.product .woocommerce-tabs ul.tabs li a {padding: 10px 22px !important;}
.et_fixed_nav.et_show_nav #page-container { margin-top: 0 !important;}
body .banner_sec{min-height: 0} 
.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents .button {background: #e043ac; color: #000 !important; border-color: #e043ac; padding: 5px 31px !important; font-size: 19px !important;}
.shop_table.shop_table_responsive.cart.woocommerce-cart-form__contents .button:hover{background: #fff !important;color:#000 !important}
.woocommerce form .form-row label {width: 100%; font-size: 23px; color: #333; font-family: 'Poppins', sans-serif; margin-bottom: 10px; letter-spacing: 2.3px; font-weight: 400;}
.woocommerce form .password-input, .woocommerce-page form .password-input{width: 100%}
.woocommerce-checkout #left-area {margin-top: 50px;}
.woocommerce-input-wrapper{width: 100%}
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce form .form-row select {font-size: 18px; font-weight: 500; color: #4e4e4e; background: #f5f5f5; border: none !important; min-height: 55px;}
.wpmc-tabs-wrapper .wpmc-tab-item.current { color: #e043ac !important;}
body .wpmc-tabs-wrapper .wpmc-tab-item.current .wpmc-tab-number {color: #e043ac !important;}
.wpmc-tabs-wrapper .wpmc-tab-item .wpmc-tab-text {color: #717171;font-size: 23px; font-family: 'Poppins', sans-serif !important; font-weight: bolder !important;letter-spacing: 1px;padding-top: 14px;}
.wpmc-tabs-wrapper .wpmc-tab-item .wpmc-tab-number{border-color: #717171;border-width: 2px;}
.wpmc-tabs-wrapper .wpmc-tab-item::before {border-bottom-color: #717171;}
.wpmc-tabs-wrapper .wpmc-tab-item.current .wpmc-tab-text { color:  #e043ac;}
.woocommerce-checkout .woocommerce h3 { font-size: 35px; font-family: 'Poppins', sans-serif !important;  font-weight: 700; color: #333333; margin-top: 0px;letter-spacing: 3.5px}
body .woocommerce button.button.alt:hover{color: #000 !important}
body .sm-cart-wrapper .sm-cart .sm-count{color:#000;}
body .sm-cart-wrapper .remove.remove_from_cart_button{color:#000 !important;}
body .woocommerce-mini-cart__buttons.buttons .button:hover {color: #000 !important;}
.wpmc-nav-button::after {display: none !important;}
.wpmc-nav-button{padding:5px  30px!important}
.contact_form input[type="submit"]{color:#000 !important;}
body.woocommerce-page button.button:hover{color:#000 !important;}
.woocommerce-MyAccount-navigation{border-right: 1px solid #c5c5c5}
.woocommerce-MyAccount-navigation li a{color: #333333; text-transform: uppercase; font-weight: bold; font-size: 23px; letter-spacing: 2.3px; margin-bottom: 27px; display: block;font-family: 'Poppins', sans-serif}
.woocommerce-MyAccount-content p {font-weight: 400; letter-spacing: 2.3px; margin-bottom: 30px; font-size: 23px; line-height: 34px;  font-family: 'Poppins', sans-serif !important;font-weight: normal;}
.logged-in #main-header{top:0 !important;} 
a:hover{color:#000;}
.woocommerce table.my_account_orders .button:hover {color: #000 !important;}
#main-content header { position: relative;}
body .trademark-container p {font-size: 17px;}
body section.related.products .et_shop_image{background: none;height: 290px;}
body section.related.products .et_overlay {display: none;}
.product .related.products h2 {font-weight: 700; font-size: 26px !important; letter-spacing: 1.5px; margin-bottom: 8px; font-family: 'Poppins', sans-serif !important; color: #333; }
body .dgwt-wcas-no-submit .dgwt-wcas-sf-wrapp .dgwt-wcas-search-input {padding: 10px 15px 10px 43px; font-family: 'Poppins', sans-serif; font-style: normal !important; height: 50px; font-size: 18px; width: 100%; border: 1px solid #ccc !important; border-radius: 5px;}
body .et_overlay{display: none;} 
body.archive .arch_product_side #sidebar{width: 25%;padding: 30px 0 0 0}
body.archive .arch_product_side #main-content{width: 75%}
.arch_product_side #sidebar li a {padding: 0px 10px 15px 49px;margin-bottom: 0;}
.arch_product_side #sidebar .widgettitle{padding-left:50px;margin-bottom: 10px; }
.arch_product_side #sidebar li.current-cat a{background: #e043ac;color:#000;}
#left-area .bottom_header {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; margin-bottom: 30px; background: #f5f5f5; padding: 19px 0; margin-top: -20px;position: relative;}
#left-area .bottom_header:after{background: #f5f5f5;position: absolute;right: 100%;top: 0;width: 50vw;height: 100%;content: ""}
#left-area .bottom_header:before{background: #f5f5f5;position: absolute;left: 100%;top: 0;width: 50vw;height: 100%;content: ""} 
.single .arch_product_side {overflow: hidden;}
.archive  .banner_sec .title_sec{display: none;}
.woocommerce .woocommerce-breadcrumb,.woocommerce .woocommerce-breadcrumb a {letter-spacing: 2px; color: #333; font-size: 20px; text-transform: uppercase; font-weight: normal;}
#sidebar .dgwt-wcas-search-wrapp{padding: 0 15px;margin-bottom: 30px;}
.single #left-area {margin-top: 0;}
.woocommerce-checkout .banner_sec{background: none}
.woocommerce-cart .banner_sec{background: none}
.woocommerce-cart .banner_sec h1 {color: #333;margin-top: 20px;}
.banner_sec{background: none !important}
.banner_sec h1 {color: #333 !important;margin-top: 20px;}
body.page-id-2049 .banner_sec{padding: 0 30px;}
body .banner_sec {padding: 0 30px;margin-bottom: 24px;margin-top: 0px;}
.woocommerce-account .entry-content {margin-top: 30px;}
.woocommerce-checkout .banner_sec h1{color: #333;margin-bottom: 20px !important;}
.woocommerce-tabs.wc-tabs-wrapper{border:none !important;}
.woocommerce-tabs.wc-tabs-wrapper .woocommerce-Tabs-panel{display: block !important;margin-bottom: 40px !important}
.woocommerce-tabs.wc-tabs-wrapper .woocommerce-Tabs-panel p{font-size: 23px;color: #333333;font-weight: 400}
.woocommerce-tabs.wc-tabs-wrapper h3{font-weight: 700;font-size: 26px !important;letter-spacing: 1.5px;margin-bottom: 8px; font-family: 'Poppins', sans-serif !important; color: #333; }
body.woocommerce #content-area div.product .woocommerce-tabs .panel, body.woocommerce div.product .woocommerce-tabs .panel{padding: 0 !important}
.woocommerce-product-attributes.shop_attributes tr th, .woocommerce-product-attributes.shop_attributes tr td {font-size: 23px;font-weight: normal;font-style: normal;padding: 0 10px 0 0 !important}
body .woocommerce-product-attributes-item__label {color: #333 !important;}
.wpmc-steps-wrapper h2{font-size: 35px; color: #333333; margin-bottom: 30px; font-weight: bold; text-align: left; letter-spacing: 3.5px;font-family: 'Poppins', sans-serif !important}
.wpmc-tabs-wrapper .wpmc-tab-item .wpmc-tab-number {font-family: 'Poppins', sans-serif !important; color: #717171; font-weight: 700;}
.wpmc-steps-wrapper {margin-top: 60px;}
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register{margin-top: 0}.woocommerce-checkout .banner_sec .title_sec {min-width: 100%;text-align: center;}
.woocommerce-checkout .banner_sec .title_sec h1{text-align: center;font-weight: bold;font-size: 60px;	letter-spacing: 6px;font-family: 'Poppins', sans-serif;margin-bottom: 50px !important}
body.woocommerce-checkout #main-content .container{max-width: 100%;padding: 0}
body.woocommerce-checkout #left-area {max-width: 66%;margin-left: auto;margin-right: auto;}
.woocommerce-checkout .woocommerce form .form-row {width: 100% !important;padding: 0 !important;margin-bottom: 20px;}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1{min-width: 50%}
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{min-width: 50%}
.woocommerce-account .banner_sec{display: none;}
.dgwt-wcas-search-form{clear:both;}
.services img{display:block}
body{font-family: 'Poppins', sans-serif !important}
.dgwt-wcas-sf-wrapp::after {content: "\f002"; font-family: 'FontAwesome'; width: 17px; height: 17px; position: absolute; left: 14px; top: 15px; color: #717171; pointer-events: none; }
.dgwt-wcas-no-submit .dgwt-wcas-ico-magnifier{opacity: 0}
.woocommerce-MyAccount-navigation ul {padding-left: 0 !important;}
.woocommerce-account  #main-content .container{padding-top: 0 !important}
.woocommerce-account .woocommerce-MyAccount-content {float: right;width: 70%;padding-top: 50px}
.woocommerce-account .woocommerce-MyAccount-navigation {width: calc(25% - 5px);padding-top: 50px;min-height: calc(100vh - 25px);margin-bottom: -30px;}
.woocommerce-MyAccount-navigation li h4{margin-bottom: 33px !important}
.woocommerce table.my_account_orders {font-size: 1em;}
body .wpmc-tabs-wrapper .wpmc-tab-item .wpmc-tab-number {line-height: 75px; font-size: 30px; font-weight: bold; width: 75px; min-width: 60px; height: 75px; margin-top: -32px;}
.woocommerce-checkout .project_data {display: flex;flex-wrap: wrap;margin-left:-30px;}
.woocommerce-checkout .project_data p{max-width:calc(50% - 30px);margin-left: 30px;}
.woocommerce-checkout .project_data p.form-row-wide{max-width:calc(100% - 30px);}
.woocommerce-checkout .project_data p.form-row-wide textarea{height: 240px;}
.woocommerce-checkout .wpmc-nav-wrapper .wpmc-nav-button{max-width: 270px; cursor: pointer; margin: 15px 5px; float: right; background: none; border: 2px solid #e043a8; color: #e043a8; height: 70px; border-radius: 5px; padding: 1px 25px 0; font-weight: 700 !important; text-transform: uppercase; letter-spacing: 2.3px; transition: 0.5s;width: 100%;font-family: 'Poppins', sans-serif;}
.woocommerce-checkout #wpmc-prev {margin-right: 10px;}
.woocommerce-billing-fields {display: flex;flex-wrap: wrap;margin-left: -30px;}
.woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper p{max-width:calc(50% - 30px);margin-left: 30px;}
.woocommerce-checkout #payment{background: none}
body .wpmc-step-payment .project_details_wrap h4{font-size: 35px; color: #333333; margin-bottom: 30px; font-weight: bold; text-align: left; letter-spacing: 3.5px;font-family: 'Poppins', sans-serif;border-bottom: none}
.wpmc-step-payment h3 {padding-left: 0 !important;}
.wpmc-step-payment tr th, .wpmc-step-payment tr td, .wpmc-step-payment thead {background: none !important;border: none !important;padding-left: 0 !important; }
.entry-content table, body.et-pb-preview #main-content .container table{border:none !important;}
.wpmc-step-item .project_details h4{border-bottom: none !important;letter-spacing: 3.5px;font-size: 35px !important;margin-bottom:16px !important;font-weight: bold;font-family: 'Poppins', sans-serif;color: #333}
#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment{background: none !important}
.wpmc-step-payment tr th{letter-spacing: 2.3px;font-size: 23px;font-weight: bold;margin-bottom: 15px;color: #333 !important}
.woocommerce-page .button.wc-backward:hover {color: #000 !important;}
.woocommerce .woocommerce-info {color: #000 !important;}
.wpmc-step-item .project_details .col-half {border-bottom: 2px solid #C5C5C5;margin-bottom: 40px !important;padding-bottom: 20px;}
#order_review tr td:empty {display: none;}
.wpmc-step-payment td{letter-spacing: 2.3px;font-size: 23px;font-weight: 400;line-height: 34px;font-family: 'Poppins', sans-serif;color: #333}
.wpmc-step-review #payment {float: right;}
.wpmc-step-review #book_rental {padding: 20px 28px; font-size: 20px; text-transform: uppercase; font-weight: bold; letter-spacing: 2.3px;}
 #content-area .wpmc-step-payment table th{padding-bottom: 0}
.wpmc-step-review #book_rental::after {display: none;}
#left-area .bottom_header .title_sec {max-width: calc(100% - 460px);}
.woocommerce .woocommerce-message{color:#000 !important;}
.woocommerce-error li {color: #000;}
.woocommerce-EditAccountForm.edit-account .woocommerce-Button.button {margin-top: 30px;}
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register{border:none;padding: 0}
.woocommerce-checkout #payment ul.payment_methods{border-bottom: none !important}
.banner_sec .imgbnr_sec.banner h1{color:#fff !important;}
.logged-in.woocommerce-account .entry-content{margin-top: 0}
#billing_address_2_field {margin-top: 56px;}

@media screen and (max-width: 980px){
body.archive .arch_product_side #main-content{width: 100%}
}
@media screen and (max-width: 991px){
.wpmc-step-item .project_details h4{font-size: 22px !important;margin-bottom: 0 !important}
#content-area .wpmc-step-payment table th{font-size: 16px;line-height: normal;}
.wpmc-step-payment td{font-size: 16px;line-height: normal;}
body.woocommerce-checkout #left-area{max-width: 88%}
.wpmc-tabs-wrapper .wpmc-tab-item .wpmc-tab-text{white-space: normal;}
}

@media screen and (max-width: 767px){
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce form .form-row select{min-height: 40px;}	
#billing_address_2_field {margin-top: 0px;}	
#left-area .bottom_header .title_sec{max-width: 100%;margin-bottom: 15px;}	
.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea, .woocommerce form .form-row select {font-size: 16px; font-weight: 500; color: #4e4e4e; height: auto; min-height: 40px; padding-top: 5px !important; padding-bottom: 5px !important;}
.woocommerce-checkout .project_data p.form-row-wide textarea {height: 150px;}
.woocommerce-checkout .wpmc-nav-wrapper .wpmc-nav-button{height: 59px;width: auto;}	
.woocommerce-billing-fields .woocommerce-billing-fields__field-wrapper p{max-width: calc(100% - 30px);}	
body.woocommerce-checkout #main-content .container{padding: 0 15px;}	
.wpmc-tabs-wrapper .wpmc-tab-item .wpmc-tab-text {display: block;font-size: 16px;margin-top: 13px;white-space: inherit;padding-top: 5px;}
.woocommerce-account .woocommerce-MyAccount-content {float: right;width: 100%;padding-top: 30px}
.woocommerce-account .woocommerce-MyAccount-navigation {width:100%;padding-top: 30px;min-height:0;margin-bottom: 0}
.woocommerce-MyAccount-navigation{border:none;}
  .sm-cart-wrapper { margin-top: 41px !important;}
  .banner img {min-height: 300px; object-fit: cover;}
  .et_header_style_left .logo_container{top: 0 !important}
  .imgbnr_sec{margin-top: 0 !important}
  .woocommerce div.product .product_title {font-size: 30px;line-height: 40px;}
  body.archive .arch_product_side #sidebar{width: 100%}
  body.archive .arch_product_side #main-content{width: 100%}
body.woocommerce-checkout #left-area{max-width: 100%}
.woocommerce-checkout .banner_sec .title_sec h1 {font-size: 30px;margin-bottom: 29px !important;margin-top: 0;}
body .wpmc-tabs-wrapper .wpmc-tab-item .wpmc-tab-number {line-height:45px; font-size: 23px; font-weight: bold; width:45px; min-width:45px; height:45px; margin-top: -23px;}
.woocommerce-checkout .project_data p {max-width: calc(100% - 30px);}
.woocommerce form .form-row label{font-size: 16px;}
.woocommerce-checkout .banner_sec {padding: 0;}
.wpmc-tabs-list.wpmc-3-tabs .wpmc-tab-item{margin-top: 20px;}
.woocommerce-checkout .woocommerce h3 {font-size: 22px;margin-top: 0;}
.woocommerce .col2-set .col-2 {margin-top: 30px;}

}
.woocommerce div.product div.images .woocommerce-product-gallery__trigger::before {
content: "\f00e";
display: block;
width: auto;
height: auto;
border: none;
border-radius: 100%;
position: absolute;
top: 0px;
left: 8px;
box-sizing: content-box;
font-family: 'FontAwesome';
color: #000;
font-size: 22px;
text-indent: 0;
}

body .dgwt-wcas-preloader {
    top: 24px;
}
.arch_product_side #sidebar li a {
    padding: 9px 10px 9px 49px;
    margin-bottom: 0;
}
body.archive .dgwt-wcas-preloader {
    top: 0;
}
.woocommerce div.product div.images .woocommerce-product-gallery__trigger::after {
display:none}

body #sidebar .cat-item.cat-parent {
padding-left: 0;
}
body #sidebar .cat-item.cat-parent::before {
display:none;
}
body #sidebar .cat-item .accordion-toggle {
width: 45px;
height: 40px;
top: 0;
background-size: 14px !important;
}

.order_detail_update {
    float: right;
    margin-bottom: 20px;
    margin-top: -8px;
}
.woocommerce .order_detail_update input.button:hover {    
    color: #fff !important;
}

.woocommerce .order_detail_update:hover input.button {    
    color: #fff !important;
}
.woocommerce-notices-wrapper + p {
    margin-bottom: 20px;
}
.ui-widget.ui-widget-content {
    z-index: 9999 !important;
}